# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Data storage
**/data/
**/*.sqlite3
**/*.pkl

# Utils
**/utils/

# IDE settings directories
.idea/
.vscode/

# workspace 
safecrew.code-workspace

# docker
safecrew/milan/modelling/docker